:root{
    --textcolor: rgb(255, 255, 255);
    --bgcolor: #000000;
    --glasscolor: rgba(128, 128, 128, 0.473);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Lora;
}
        .header{
            position: fixed;
            top: 0;
            left: 0;
            width: 95%;
            height: 60px;
            margin-top: 20px;
            margin-right: 2.5%;
            margin-left: 2.5%;
            background: rgba(255, 255, 255, .1);
            display: flex;
            justify-content: space-between;
            align-items: center;
            backdrop-filter: blur(10px);
            border-radius: 20px;
        }
        a{
            text-decoration: none;
            color: var(--textcolor);
            font-size: 20px;
            margin-right: 10px;
        }
        .logo{
            font-family: sacramento;
            color: var(--textcolor);
            font-size: 40px;
            margin-left: 15px;
            line-height: 60px;
        }
body{
    min-height: 100vh;
    margin-bottom: 1000px;
    background: var(--bgcolor);
    background-size: cover;
    background-position: center;
    animation: fadeInAnimation ease-in-out 0.5s;
}
p{ margin-top: px;
    text-align: center;
    color: var(--textcolor);
}
h1{
    text-align: center;
    color: var(--textcolor);
    font-weight: 500;
    font-size: 60px;
    margin-top: 100px;
}
svg{
    display: block;
    margin-top: -105px;
    margin-bottom: -45px;
    margin-right: auto;
    margin-left: auto;
    width: 50%;
        height: 10%;
        color: var(--textcolor);
    }
    @keyframes fadeInAnimation {
        0% {
            opacity: 0;
        }
        100% {
            opacity: 1;
         }
    }