body{
    background-color: black;
    margin: 0px;
    height: 100%;
}


.myVideo1{
    position: absolute;
    height: 100%;
width: 100%;
  z-index: -1;
opacity: 0.5;
animation: fadeinhalf 7s ease-in-out;
animation-fill-mode: both;
object-fit: cover;
}
.container{

    display: flex;
    flex-direction: row;
height: 100vh;
}
  div  .righttext{
        color: whitesmoke;
        font-family: Playfair Display;
        animation: fadeinfull 4s ease-in 3s;
        animation-fill-mode: both;
        flex: 1;
        text-align: center;
        padding-top: 45vh;

        font-size: 80px;
    }
   div .lefttext{
                color: whitesmoke;
font-family: Playfair Display;
        flex: 1;
        text-align: center;
                padding-top: 45vh;
        font-size: 80px;
        animation: fadeinfull 4s ease-in 7s;
        animation-fill-mode: both;
    }



@keyframes fadeinhalf {
    0% {opacity: 0;}
    50% { opacity: 0.5;}
    100%{opacity: 0;}
}


@keyframes fadeinfull {
    0% {opacity: 0;}
    50% { opacity: 1;}
    100%{opacity: 0;}
}
.righttext, .lefttext{
    text-shadow: 10px 10px 200px black;
}
@keyframes fadeout {
    100% {opacity: 0;}
    0% { opacity: 1;}
}
div.endtext{
    z-index: 2;
                    color: whitesmoke;
font-family: Playfair Display;
        flex: 1;
        text-align: center;
                padding-top: 45vh;
        font-size: 50px;
        animation: fadeinfull 4s ease-in 11s;
        animation-fill-mode: both;
 
}
